<h2>Database Utils</h2>

<h3>Export</h3>

@using (Html.BeginForm("Tags", "Export")) {
  <button class="btn">Export <strong>Tags</strong></button>
}

@using (Html.BeginForm("Foods", "Export")) {
  <button class="btn">Export <strong>Foods</strong></button>
}
