<h2>Add Food</h2>
<form>
<fieldset>
  <legend>Name</legend>
  <label>Brand</label>
  <input type="text" name="brand"/>
  <label>Product</label>
  <input type="text" name="product"/>
</fieldset>
<fieldset>
  <legend>Contents</legend>
  <label>Calories</label>
  <input type="text" name="calories"/>
  <label>Carbs</label>
  <input type="text" name="calories"/>
  <label>Protein</label>
  <input type="text" name="calories"/>
  <label>Fat</label>
  <input type="text" name="calories"/>
</fieldset>
<fieldset>
  <legend>Tagging</legend>
  <label>Tags</label>
  <input type="text" name="tags" />
</fieldset>
<button type="submit" class="btn btn-primary">Add Food</button>
</form>