@model FoodCompare.Web.Models.Tag

<h2>@Model.Name</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Calories</th>
      <th>Carbs</th>
      <th>Protein</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John West</td>
      <td>No Drain Tuna Springwater 130g</td>
      <td>131</td>
      <td>0</td>
      <td>29.6</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>John West</td>
      <td>No Drain Tuna Olive Oil 130g</td>
      <td>141</td>
      <td>0</td>
      <td>29.6</td>
      <td>6.4</td>
    </tr>
  </tbody>
</table>