<!DOCTYPE html>
<html>
<head>
    <title>Food Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
    <h1>Food Compare</h1>

    <div class="row-fluid">
      <div class="span2">
          @{Html.RenderPartial("_Nav");}
      </div>
      <div id="content" class="span10">
          @RenderBody()
      </div>
    </div>
</div>
<script src="~/assets/lib/jquery-2.0.0/index.js"></script>
<script src="~/assets/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>