<ul class="nav nav-list">
  <li class="nav-header">Tags</li>
  @foreach (var tag in (List<FoodCompare.Web.Models.Tag>)ViewBag.Tags) {
  <li>@Html.ActionLink(tag.Name, "Index", "Tagged", new { Name = tag.Name}, null)</li>
  }

  <!-- Admin/editing -->
  <li class="nav-header">Admin</li>
  <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
  <li>@Html.ActionLink("Foods", "Index", "Foods")</li>
</ul>