<ul class="nav nav-list">

  <!-- Tags -->
  <li class="nav-header">Tags</li>
  <li><a href="#mockup-tag-view" data-target="#mockup-tag-view">Tag Name</a></li>
  <li><a href="#">tag 2</a></li>

  <!-- Admin/editing -->
  <li class="nav-header">Admin</li>
  <li><a href="#mockup-tags" data-target="#mockup-tags">Tags</a></li>
  <li>@Html.ActionLink("Foods", "Index", "Foods")</li>
  <li><a href="#mockup-food-scraps" data-target="#mockup-food-scraps">Scraps</a></li>

</ul>