<ul class="nav nav-list">
  <!-- Tags -->
  <li class="nav-header">Tags</li>
  <li><a href="#mockup-tag-view" data-target="#mockup-tag-view">Tag Name</a></li>
  <li><a href="#">tag 2</a></li>

  <!-- Admin/editing -->
  <li class="nav-header">Admin</li>
  <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
  <li>@Html.ActionLink("Foods", "Index", "Foods")</li>
</ul>