@model FoodCompare.Web.Controllers.ScrappedContent
@{
    var errors = ViewBag.Errors as String;
    var id = (int)ViewBag.Id;
}

<h2>Scrap Run</h2>

@if (!String.IsNullOrEmpty(errors)) {
  <h3>Errors</h3>
  <pre>@errors</pre>
}

@if (Model.Food != null) {
  <h3>Preview</h3>
  <pre>@Model.Food.Dump()</pre>

  @Html.ActionLink("Create Food", "AddFromScrap", "Foods", new { id }, new { @class = "btn btn-primary" })
}

@if (!String.IsNullOrEmpty(Model.Messages)) {
  <h3>Messages</h3>
  <pre>@Model.Messages</pre>
}
