@model FoodCompare.Web.Models.Tag

<h2>Add Tag</h2>

@using (Html.BeginForm("Add", "Tags")) {
  <fieldset>
    <legend></legend>
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    <label class="checkbox">
      @Html.EditorFor(m => m.ShowTotal)
      @Html.DisplayNameFor(m => m.ShowTotal)
    </label>
  </fieldset>
  <button type="submit" class="btn btn-primary">Add Tag</button>
}