@model FoodCompare.Web.Models.Tag

<h2>Edit Tag</h2>

@using (Html.BeginForm("Edit", "Tags")) {
  <fieldset>
    <legend></legend>
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
  </fieldset>
  <button type="submit" class="btn btn-primary">Edit Tag</button>
}