@model List<FoodCompare.Web.Models.Tag>

<h2 class="pull-left">Tags</h2>
@Html.ActionLink("Add", "Add", "Tags", routeValues: null, htmlAttributes: new { @class ="btn pull-right" })

<table class="table table-striped">
<thead>
  <tr>
    <th>Tag</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  @foreach (var tag in Model) {
  <tr>
    <td>@tag.Name</td>
    <td>
      @Html.ActionLink("Edit", "Edit", "Tags", routeValues: new { tag.Id }, htmlAttributes: new { @class = "btn" })
      @Html.ActionLink("Delete", "Delete", "Tags", routeValues: new { tag.Id } , htmlAttributes: new { @class = "btn" })
    </td>
  </tr>
  }
</tbody>
</table>